.background {
    height: 100vh;
    background: url("../Images/spaceBackground.jpeg") no-repeat center center;
    background-size: cover;
}
h1 {
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 48pt;
    padding-left: 10vw;
    padding-top: 5vh; 
}
.quoteBox {
    min-height: 20vh;
    padding-left: 10vw;
    padding-right: 40vw;
    padding-top: 5vh; 
    color: white;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 200;
    font-style: italic; 
    font-size: 18pt;
}

.nextBtn{
    
}
.nextBtn{
    position: fixed; 
    bottom: 0; 
    text-align: center;  
    width: 100%; 
    padding-bottom: 5vh; 
}
.nextShip{ 
    margin: auto; 
    width: 150px; 
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}